/* styling for the about section and the skills sub-section*/

#about{
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center center; 
  background-attachment: fixed; 
  min-height: 100vh; 
}

.div1{
    background-color:transparent;
    width:50%;
    height:auto;
  
}
  
#pfp{
    border-radius: 12px;
    margin: auto;
  
}
  
.div2{
    background-color:transparent;
    width:49%;
    height:auto;
    text-align: left;
}

/* hire and resume buttons */
#hire, #resume {
    display: inline-block; /* Place buttons side by side */
    margin: 6px; 
    padding: 10px 20px; 
    background-color: #212121; 
    color: rgba(255, 255, 255, 0.692); 
    border: none; 
    border-radius: 50px; 
    cursor: pointer; 
    font-size: 16px;
    font-family: 'Orbitron', sans-serif;
    text-align: center; /* Center text inside the button */
  }
  
  #hire:hover, #resume:hover {
    color: white;
    transform: scale(1.1);
  }


/* skills section */
#skills{
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center; 
    background-attachment: fixed; 
    min-height: 100vh; 
}
  
.slider-container {
  overflow: hidden;
  position: relative;
  display: flex;
}

.tech-stack-slider {
  display: flex;
  gap: 4rem; /* Maintain gap between tech icons */
  margin: 6rem 0;
  animation: scroll 40s linear infinite;
  padding: 2rem 0; /* Adjust padding to prevent overflow */
}

.slider-container:hover, .tech-stack-slider:hover, .tech-stack-slider img:hover {
  animation-play-state: paused;
}

.slider-container::before, .slider-container::after {
  background: linear-gradient(to right, transparent 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100%;
  position: absolute;
  width: 100px;
  z-index: 2;
}

.slider-container::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
  z-index: 0;
}

.slider-container::before {
  left: 0;
  top: 0;
}

@keyframes scroll {
  0% {
      transform: translateX(0%);
  }

  100% {
      transform: translateX(-100%);
  }
}

.tech {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.tech-icon {
  width: 8rem;
  transition: .3s;
  filter: grayscale(100%);
}

.tech-icon + p {
  opacity: 0;
  transition: .3s;
  position: absolute;
  bottom: -2.5rem;
}

.tech-icon:hover {
  transform: translateY(-2.5rem);
  filter: grayscale(0%);
}

.tech-icon:hover + p {
  opacity: 1;
}
  

@media screen and (max-width: 800px) {

  .container{
      flex-direction:column;
      }
    .div1{
      width:100%;
      height:auto;
      }
    .div2{
        width:100%;
        height:auto;
        text-align: center;
    }

  .column{
      flex: 1 1 30%;
      max-width: 40%;
  }

  .headline{
    padding-left: 5%;
    padding-right: 5%;
  }
  .tech-stack {
    width: 80%;
}


}



