
.container{
    display:inline-flex;
    flex-wrap:wrap;
    width: 100%;
    flex-direction: row;
    margin-bottom: 10%;
    margin-top: 7%;
    
  }

.div1{
    background-color:transparent;
    width:50%;
    height:auto;
  
  }
  
  .div2{
    background-color:transparent;
    width:49%;
    height:auto;
    
  }
  
  
  body, button, input {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 1.4px;
  }
  
  
  .screen-body-item {
    flex: 1;
    padding: 50px;
  }
  
  .screen-body-item.left {
    display: flex;
    flex-direction: column;
  }
  
  .app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #0f0;
    font-size: 26px;
  }
  
  .app-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 25px;
    height: 4px;
    background: #0f0;
  }
  
  .app-contact {
    margin-top: auto;
    font-size: 8px;
    color: #888;
  }
  
  .app-form-group {
    margin-bottom: 15px;
  }
  
  .app-form-group.message {
    margin-top: 40px;
  }
  
  .app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
  }
  
  .app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: #ddd;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
  }
  
  .app-form-control::placeholder {
    color: #666;
  }
  
  .app-form-control:focus {
    border-bottom-color: #ddd;
  }
  
  .app-form-button {
    background: none;
    border: none;
    color: #0f0;
    font-size: 18px;
    cursor: pointer;
    outline: none;
  }
  
  .app-form-button:hover {
    color: #0f0;
  }

  .socials{
    margin-top: 10%;
  }

  #linkedIn:hover{
    cursor: pointer;
    background-color: #0f0;
    transform: scale(1.1);
  }

  #github:hover{    
    cursor: pointer;
    background-color: #0f0;
    transform: scale(1.1);
  }
  
  @media screen and (max-width: 980px) {

  
    .screen-body-item.left {
      margin-bottom: 30px;
    }
  
    .app-title {
      flex-direction: row;
    }
  
    .app-title span {
      margin-right: 12px;
    }
  
    .app-title:after {
      display: none;
    }

    .container{
        flex-direction:column;
        }
      .div1{
        width:100%;
        height:auto;
        }
      .div2{
          width:100%;
          height:auto;
      }
      
  }
  
  @media screen and (max-width: 600px) {
  
    .screen-body-item {
      padding: 0;
    }
  }
  