/* styling for the contact section */
#contact{
    font-family: 'Orbitron', sans-serif;;
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center; 
    background-attachment: fixed; 
    /* min-height: 100vh;  */
}


.screen-body-item {
    flex: 1;
    padding: 50px;
  }
  
  .screen-body-item.left {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  
  .app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #0f0;
    font-size: 26px;
  }
  
  .app-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 25px;
    height: 4px;
    background: #0f0;
  }
  
  .app-contact {
    margin-top: auto;
    font-size: 8px;
    color: #888;
  }
  
  .app-form-group {
    margin-bottom: 15px;
  }
  
  .app-form-group.message {
    margin-top: 40px;
  }
  
  .app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
  }
  
  .app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: #ddd;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
  }
  
  .app-form-control::placeholder {
    color: #666;
  }
  
  .app-form-control:focus {
    border-bottom-color: #ddd;
  }
  
  .app-form-button {
    display: inline-block; /* Place buttons side by side */
    margin: 6px; 
    padding: 10px 20px; 
    background-color: #212121; 
    color: rgba(255, 255, 255, 0.692); 
    border: none; 
    border-radius: 50px; 
    cursor: pointer; 
    font-size: 16px;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
  }
  
  .app-form-button:hover {
    color: white;
  }


  #vaultBoy{
    cursor: pointer;

  }

  #vaultBoy:hover{
    transform: scale(1.1);
    
  }


  @media screen and (max-width: 980px) {

  
    .screen-body-item.left {
      margin-bottom: 30px;
    }
  
    .app-title {
      flex-direction: row;
    }
  
    .app-title span {
      margin-right: 12px;
    }
  
    .app-title:after {
      display: none;
    }
      
  }
  
  @media screen and (max-width: 600px) {
  
    .screen-body-item {
      padding: 0;
    }
  }