/* styling for the home section aka (landing page) */

#home{
    background-image: url();
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center; 
    background-attachment: fixed; 
    min-height: 100vh; 
}

.homeHeadline{
    padding: 100px;
    min-height: 100vh; 
}

#name{
    font-size: 70px;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 25px;
    margin-bottom: 2%;
}
  
.title{
    font-size: 20px;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 20px;
    margin-top: 2%;
}


.socials{
    margin-top: 2%;
}
  
#linkedIn, #github{
    width: 3%;
    padding: 5px;
}
  
#linkedIn:hover, #github:hover{
    cursor: pointer;
    /* background-color: #0f0; */
    transform: scale(1.1);
}



@media screen and (max-width: 800px) {

    #linkedIn, #github{
        width: 25px;
        padding: 5px;
    }
      
    
    #name{
        width: 100%;
        letter-spacing: 20px;
        font-size: 40px;
    }
    
    .title{
        width: 100%;
        letter-spacing: 5px;
        font-size: 15px;
    }


    .homeHeadline{
        text-align: center;
        padding-left: 2%;
        padding-right: 2%;
    }

}