/* styling for the portfolio section */
#portfolio{
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center; 
    background-attachment: fixed; 
    /* min-height: 100vh;  */
  }


/* Style the button that is used to open and close the collapsible content */
.collapsible {
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  border-radius: 25px;
  margin: 6px;
  background-color: #212121; 
  color: rgba(255, 255, 255, 0.692); 
  

}


/* Active class added via JavaScript */
.collapsible.show {
  animation: dropIn 0.5s ease forwards;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  cursor: pointer;
  color: white;
  transform: scale(1.01);
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  background-color: #212121; 
  color: rgba(255, 255, 255, 0.692); 
  border-radius: 25px;
  padding-bottom: 10%;
  
}

.projectImg{
  border-radius: 14px;
}

.gitLink:hover{
  transform: scale(1.1);
}

.screen-body-item-portfolio{
  flex: 1;
  padding: 5px;
  align-content: center;
}

.screen-body-item-portfolio.left {
  display: flex;
  flex-direction: column;
  text-align: left;
}


/* animation for prices*/
#row-portfolio button {
  opacity: 0; /* Start hidden */
  transform: translateY(-20px); 
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  transition: opacity 1s ease, transform 1s ease; 
}

#row-portfolio button.animate {
  opacity: 1; 
  transform: translateY(0); 
}

/* Keep in increments of 2 (there is a collapsible in between every button) */
#row-portfolio button:nth-child(1).animate {
  transition-delay: 0s; 
}

#row-portfolio button:nth-child(3).animate {
  transition-delay: 0.5s; 
}

#row-portfolio button:nth-child(5).animate {
  transition-delay: 1s; 
}

#row-portfolio button:nth-child(7).animate {
  transition-delay: 1.5s;
}

#row-portfolio button:nth-child(9).animate {
  transition-delay: 2s; 
}

#row-portfolio button:nth-child(11).animate {
  transition-delay: 2.5s; 
}



/* Responsive Design for Smaller Screens */
@media (max-width: 800px) {
  .container {
      flex-direction: column; 
  }
  
  .div1, .div2 {
      width: 100%; 
  }
}
 
