/* styling for the portfolio section */
#portfolio{
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center; 
    background-attachment: fixed; 
    /* min-height: 100vh;  */
  }


/* Style the button that is used to open and close the collapsible content */
.collapsible {
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  border-radius: 25px;
  margin: 6px;
  background-color: #212121; 
  color: rgba(255, 255, 255, 0.692); 
  

}


/* Active class added via JavaScript */
.collapsible.show {
  animation: dropIn 0.5s ease forwards;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  cursor: pointer;
  color: white;
  transform: scale(1.01);
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  background-color: #212121; 
  color: rgba(255, 255, 255, 0.692); 
  border-radius: 25px;
  padding-bottom: 10%;
  
}

.projectImg{
  border-radius: 14px;
}

.gitLink:hover{
  transform: scale(1.1);
}

.screen-body-item-portfolio{
  flex: 1;
  padding: 5px;
  align-content: center;
}

.screen-body-item-portfolio.left {
  display: flex;
  flex-direction: column;
  text-align: left;
}


/* Responsive Design for Smaller Screens */
@media (max-width: 800px) {
  .container {
      flex-direction: column; 
  }
  
  .div1, .div2 {
      width: 100%; 
  }
}
 
