

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the columns */
  gap: 20px; /* Space between columns */
  margin-right: 0; /* Remove right margin */
  margin-left: 0; /* Remove left margin */
  padding: 0; /* Remove padding */
}

.column {
  flex: 1 1 30%; /* Flexible width, can shrink and grow */
  max-width: 31%;
  padding: 12px;
  box-sizing: border-box; /* Ensure padding is included in width */
}

@media screen and (max-width: 2000px) {
  .column {
    flex: 1 1 47%; /* Adjust width for large screens */
    max-width: 47%;
  }
}

@media screen and (max-width: 1400px) {
  .column {
    flex: 1 1 46%; /* Adjust width for medium-large screens */
    max-width: 46%;
  }
}

@media screen and (max-width: 1200px) {
  .column {
    flex: 1 1 100%; /* Full width for smaller screens */
    max-width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .column {
    flex: 1 1 100%; /* Full width for small screens */
    max-width: 100%;
    margin-bottom: 20px; /* Space between rows */
  }
}
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: transparent;
    border-radius: 7px;
  }


  #serviceImage{
    width: 30%;
  }
  
  
  #hire{
    display: block;
    margin: 20px auto; 
    padding: 10px 20px; 
    background-color: rgba(0, 255, 0, 0.247); 
    color: #0f0; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
  }

  #hire:hover{
    transform: scale(1.1);

  }
