/* styling for the services section */
#services{
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center center; 
  background-attachment: fixed; 
  min-height: 100vh; 
}


.row-services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the columns */
  gap: 20px; /* Space between columns */
  margin-right: 0; /* Remove right margin */
  margin-left: 0; /* Remove left margin */
  padding: 0; /* Remove padding */
}

.column-services {
  flex: 1 1 30%; /* Flexible width, can shrink and grow */
  max-width: 31%;
  padding: 12px;
  box-sizing: border-box; /* Ensure padding is included in width */
}

  
  /* Style the counter cards */
  .card-services{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: transparent;
    border-radius: 7px;
  }

  .serviceImage{
    width: 25%;
    margin: auto;
  }

  #serviceTitle{
    font-weight:900;
    font-size: 24px;
  }

/* Add animations for sliding in */
@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}


/* Add animations when the animate class is applied */
.rs2 .column-services {
  animation: slideInLeft 1s ease-out forwards;
}

.rs .column-services {
  animation: slideInRight 1s ease-out forwards;
}


  @media screen and (max-width: 1200px) {
    .column-portfolio {
      flex: 1 1 50%; /* Full width for smaller screens */
      max-width: 47%;
    }
  }

  @media screen and (max-width: 1000px) {
    .column-portfolio {
      flex: 1 1 40%; /* Full width for smaller screens */
      max-width: 40%;
    }
  }

@media screen and (max-width: 800px) {
  .column-services {
    flex: 1 1 100%; /* Full width for small screens */
    max-width: 100%;
    margin-bottom: 20px; /* Space between rows */
  }

  @keyframes slideInLeft {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideInRight {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  
  /* Add animations when the animate class is applied */
  .rs2 .card {
    animation: slideInLeft 0.5s ease-out forwards;
  }
  
  .rs .card {
    animation: slideInRight 0.5s ease-out forwards;
  }
}

  