/* styling for the services section */
#services{
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center center; 
  background-attachment: fixed; 
  min-height: 100vh; 
}