/* general styling found here */
/* more specific styling for each section will be found in their respective files */

body{
  scroll-behavior: smooth;
  font-family: 'Orbitron', sans-serif;
  
  background-image: url();
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center center; 
  background-attachment: fixed; 

  margin: 0;
  padding: 0;
  
  /* Set the minimum height to fill the entire viewport */
  min-height: 100vh; 

  /* Ensure content color contrast */
  color: white;
}

/*scroll bar*/
body::-webkit-scrollbar{
  width: 10px;
  display: none;
}
body::-webkit-scrollbar-track{
  background: transparent; 
}
body::-webkit-scrollbar-thumb{
  background-color: transparent;   
  border-radius: 20px;       
  border: 3px solid transparent;
}



.curtain{
  
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.container{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10%;
}



.headline {
  text-align: center;
  padding: 50px;
  padding-left: 200px;
  padding-right: 200px;
  min-height: 100vh; 
}



.container{
  display:inline-flex;
  flex-wrap:wrap;
  width: 100%;
  flex-direction: row;
  margin-bottom: 5%;
  padding-left: 5%;
  
}


#sectionTitle{
  font-family: 'Orbitron', sans-serif;
  font-weight: 900;
  font-size: 42px;

}

.sectionText{
  font-family: 'Orbitron', sans-serif;
  font-size: 18px;
  color: white;
  padding-left: 20%;
  padding-right: 20%;
}





/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .headline{
    text-align: center;
  }

  .sectionText{
    font-family: 'Orbitron', sans-serif;
    font-size: 18px;
    color: white;
    padding-left: 5%;
    padding-right: 5%;
  }


}