html{
    scroll-behavior:smooth;
    background-color: black;
    overflow-x: hidden;
}


/*scroll bar*/
body::-webkit-scrollbar{
    width: 10px;
    display: none;
  }
  body::-webkit-scrollbar-track{
    background: #212121; 
  }
  body::-webkit-scrollbar-thumb{
    background-color: #a0a0a0;   
    border-radius: 20px;       
    border: 3px solid #212121;
  }


body{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-image: url(https://i.pinimg.com/originals/46/72/d8/4672d86fa0676442108247fabd4fed35.jpg); 
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0%;
  padding-bottom:1%;
  color: white;
}


.nav {
  border-radius: 20px;
  margin: 2%;
  padding: 10px;
  text-align: right;
  margin-top: 10px;
  margin-bottom: 2%;
}

.logo{
  align-self: left;
  margin-right: 40%;
}


.headline {
  margin-top: 12%;
  width: 100%;
  text-align: center;
  display: block;
  padding-bottom: 5%;
}

#name{
  font-size: 70px;
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 35px;
}

.title{
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 25px;
}

.cycleButtons{
  margin-top: 0%;
  width: 100%;
  text-align: center;
  display: block;
  padding-bottom: 5%;

}

.navButton{
  margin: 1%;
  margin-top: 11%;
  border-color: #FFD700;
  border-style: solid;
  background-color: transparent;
  color: white;
  padding: 20px;
  border-radius: 50%;
  font-size: 100%;

}

#prevButton {
  background: linear-gradient(to left, #d3b300 0%, #FFD700 50%, transparent 50%, transparent 100%);
  background-size: 200% 100%;
  background-position: 0 0;
  transition: background-position 0.3s;
}

#nextButton {
  background: linear-gradient(to right, #d3b300 0%, #FFD700 50%, transparent 50%, transparent 100%);
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position 0.3s;
}

#prevButton:hover {
  background-position: 100% 0;
  cursor: pointer;
}

#nextButton:hover {
  background-position: 0 0;
  cursor: pointer;
}



.gradient-text{
  font-family:'Times New Roman', Times, serif;
  background: linear-gradient( #FFD700,#d3b300,#363636);
  background-size: 200% 200%;
  animation: rainbow 2s ease-in-out infinite;
  background-clip: text;
  -webkit-background-clip:text;
  color:white;
  text-align:center;
  transition: color .2s ease-in-out;
  text-transform:uppercase;
  letter-spacing: 3px;
  font-weight:900;
  font-size: large;
  margin: 2%;
  
}

.gradient-text:hover{
  cursor:pointer;
  transform: scale(1);
  color:rgba(0,0,0,0);
}
@keyframes rainbow { 
  0%{background-position:left}
  50%{background-position:right}
  100%{background-position:left}
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {

  .nav{
    display: none;
  }


  #name{
    font-size: 100%;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 20px;
  }

  .title{
    font-size: 70%;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 5px;
  }


}
