body{
  background-color: black;
  background-image: url(https://images5.alphacoders.com/423/thumb-1920-423529.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center; 
}



/* Terminal Window */
.terminal {
    margin-top: 6%;
    width: 100;
    height: 700px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #0f0;
    font-family: "Courier New", Courier, monospace;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    margin-left: 20%;
    margin-right: 20%;
    overflow-y: scroll;
  }

  /*scroll bar*/
  .terminal::-webkit-scrollbar{
    width: 10px;
    display: none;
  }
  .terminal::-webkit-scrollbar-track{
    background: #212121; 
  }
  .terminal::-webkit-scrollbar-thumb{
    background-color: #a0a0a0;   
    border-radius: 20px;       
    border: 3px solid #212121;
  }
  
  /* Terminal Header */
  .terminal-header {
    background-color: #333;
    padding: 5px;
    display: flex;
    align-items: center;
    color: #fff;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    
  }
  
  .buttons {
    display: flex;
    margin-right: 15px;
  }
  
  .buttons span {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
  }
  
  .close {
    background-color: #ff605c;
  }
  .minimize {
    background-color: #ffbd44;
  }
  .maximize {
    background-color: #00ca4e;
  }
  
  .title {
    flex-grow: 1;
    text-align: center;
  }
  
  /* Terminal Body */
  .terminal-body {
    padding: 10px;
  }
  
  .terminal-loader {
    display: inline-flex;
    align-items: center;
  }
  
  .loader-text {
    margin-right: 5px;
  }
  
  .dot {
    opacity: 0;
    animation: dotFadeInOut 1.5s infinite;
  }
  
  @keyframes dotFadeInOut {
    0%,
    100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  
  #dot1 {
    animation-delay: 0.5s;
  }
  
  #dot2 {
    animation-delay: 0.6s;
  }
  
  #dot3 {
    animation-delay: 0.7s;
  }


#aboutNav:hover{
  transform: scale(1.1);
}

#servicesNav:hover{
  transform: scale(1.1);
}
#portfolioNav:hover{
  transform: scale(1.1);
}
#contactNav:hover{
  transform: scale(1.1);
}


@media screen and (max-width: 800px) {

  .terminal {
    margin-top: 6%;
    width: 100;
    height: 700px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #0f0;
    font-family: "Courier New", Courier, monospace;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    margin-left: 1%;
    margin-right: 1%;
    overflow-y: scroll;
  }

}
