

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw; /* Ensures full viewport width */
    height: 100vh;
    overflow: hidden; /* Prevents flex children from overflowing */
    background-image: url('https://www.modon.com/images/modoncorporatelibraries/about-us/shutterstock_1100736819_modon.gif?sfvrsn=875223b4_2');
    background-attachment: fixed;
}


.hero h1 {
    text-align: center;
    width: 70%;
    font-size: 90px;
    font-weight: 600;
    color: #bdc3c7; /* Fallback */
    background: linear-gradient(to right, #bdc3c7, #bdc3c7);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; /* Makes text show gradient */
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 5px;
}


.hero p{
    width: 50%;
    text-align: center;
    font-size: 24px;
    line-height: 40px;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 10px;
}

.hero hr {
    width: 70%;
    border: none;
    height: 2px; /* Adjust thickness */
    background: linear-gradient(to right, transparent, white, transparent); /* Fade effect */
    margin: 20px 0;
    margin-bottom: 10%;
}


.socials .social-icon{
    margin: 6px;
}

.socials .social-icon:hover{
    
    transform:scale(1.1);
    cursor: pointer;
}

@media (max-width: 800px) {
    .hero h1 {
        text-align: center;
        width: 70%;
        font-size: 40px;
        font-weight: 600;
        color: #bdc3c7; /* Fallback */
        
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent; /* Makes text show gradient */
        font-family: 'Orbitron', sans-serif;
        letter-spacing: 0px;
    }
    
    
    .hero p{
        width: 50%;
        text-align: center;
        font-size: 14px;
        line-height: 40px;
        font-family: 'Orbitron', sans-serif;
        letter-spacing: 5px;
    }
}