.slider-container {
    overflow: hidden;
    width: 100vw;
    display: flex;
  }
  
  .tech-stack-slider {
    display: flex;
    gap: 4rem;
    margin: 6rem 0;
    padding: 2rem 0;
    width: max-content; /* Ensures content extends beyond the screen */
    animation: scroll 40s linear infinite;
    margin-top: 12px;
  }
  
  @keyframes scroll {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-50%); /* Only move by half, since we duplicated */
    }
  }
  
  .slider-container:hover .tech-stack-slider {
    animation-play-state: paused;
  }
  
  .tech {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
  }
  
  .tech-icon {
    width: 8rem;
    transition: transform 0.3s ease, filter 0.3s ease;
    filter: grayscale(100%);
  }
  
  .tech-icon + p {
    opacity: 0;
    transition: opacity 0.3s ease;
    position: absolute;
    bottom: -2.5rem;
    pointer-events: none; /* Prevent flickering */
  }
  
  .tech:hover .tech-icon {
    transform: translateY(-2.5rem);
    filter: grayscale(0%);
  }
  
  .tech:hover p {
    opacity: 1;
  }
  