/* General Styling */
.contact-container {
    background-color: #0d0d0d;
    color: #ddd;
    padding: 50px 20px;
    text-align: center;
    height: 70vh;
    padding-top: 10%;
    background-color: transparent;
}

.contact-background{
    /* background-image: url('https://i.pinimg.com/originals/83/4b/dc/834bdc62616b124bf0d764b670763438.gif'); */
    background-position: 0% 90%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto;
    height: inherit;
}

.contact-content {
    justify-content: center;
    max-width: 900px;
    margin: auto;
    gap: 100px;
}

/* Left Section */
.contact-left {
    flex: 1;
    text-align: left;
    max-width: 400px;
}

.contact-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 30px;
    color: white;
}

.contact-text {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.contact-social {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.social-icon{
    margin: 6px;
}

.social-icon:hover{
    
    transform:scale(1.1);
    cursor: pointer;
}

.social-icons img:hover {
    transform: scale(1.1);
}

/* Right Section */
.contact-right {
    flex: 1;
    
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.contact-input {
    width: 100%;
    padding: 12px 16px;
    background: none;
    border: none;
    border-bottom: 2px solid #666;
    color: #fff;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease-in-out;
}

.contact-input::placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
}

.contact-input:focus {
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(to right, #2c3e50, #bdc3c7) 1;
    border-image-slice: 1;
}



.contact-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: none;
    border: 2px solid white;
    color: white;
    padding: 16px 32px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.6s ease-in-out;
    width: fit-content;
    margin-left: auto; /* Pushes it to the right */
    margin-top: 40px;
}

.contact-button:hover {
    gap: 20px;
    background: white;
    color: black;
}

.chevron-right {
    font-size: 25px;
}


/* Animation */
.contact-text {
    opacity: 0;
    transform: translateX(100px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.contact-text.slide-in {
    opacity: 1;
    transform: translateX(0);
}



/* Responsive Design */
@media (max-width: 800px) {
    .contact-content {
        flex-direction: column;
        align-items: center;
    }

    .contact-left, .contact-right {
        width: 90%;
    }
}
