/* Tailwind Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body{
  height: 100vh;
  color: white;
  background-color: #0f111b;
  font-family: 'outfit';
  width: 100%;
    max-width: 100%

}